.main_class{
    
    margin: 0px;
    padding: 0px;
}
*{
    background-color: aquamarine;
}
.child_class{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border: 2px solid red;
}
table{
    width: 100%;
    border: 1px;
}
.pagination {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.pagination button {
    padding: 10px 25px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 8px;
}